---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { id: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
const { data } = project;
const { title, img, description } = data;
---

<Layout title={title}>
  <section class="container mx-auto px-4 py-16 md:py-28">
    <div
      class="max-w-4xl mx-auto bg-white rounded-lg shadow-lg overflow-hidden"
    >
      <Image
        transition:name={`img-${project.slug}`}
        src={`/${img}`}
        alt={title}
        width={1200}
        height={600}
        class="w-full h-96 object-cover"
      />
      <div class="p-8">
        <h1 class="text-4xl md:text-5xl font-bold text-impletech-blue mb-4">
          {title}
        </h1>
        <p class="text-impletech-muted-text-light text-lg mb-8">
          {description}
        </p>
        <div class="prose prose-lg max-w-none text-impletech-dark-text">
          <Content />
        </div>
      </div>
    </div>
  </section>
</Layout>
