---
import { Image } from "astro:assets";

import hikvision from "../assets/images/brands/hikvision.jpg";
import ubiquiti from "../assets/images/brands/ubiquiti.jpg";
import nexxt from "../assets/images/brands/nexxt.jpg";
import zkt from "../assets/images/brands/zkt.jpg";
import suprema from "../assets/images/brands/suprema.png";
import control4 from "../assets/images/brands/control4.jpg";
import softguard from "../assets/images/brands/softguard.jpg";
import savant from "../assets/images/brands/savant.jpg";
import milestone from "../assets/images/brands/milestone.jpg";
import march from "../assets/images/brands/march.jpg";
import knx from "../assets/images/brands/knx.jpg";
import honeywell from "../assets/images/brands/honeywell.jpg";
import fortinet from "../assets/images/brands/fortinet.jpg";
import crestron from "../assets/images/brands/crestron.jpg";
import dmp from "../assets/images/brands/dmp.jpg";
---

<!-- Brands Banner Section -->
<section id="marcas" class="py-16 md:py-20 border-t border-gray-200">
  <div class="container mx-auto px-4">
    <h2
      class="text-3xl md:text-4xl font-bold text-center text-impletech-blue mb-12 animate-fade-in"
    >
      Marcas con las que trabajamos
    </h2>
    <div
      class="flex flex-wrap justify-center items-center gap-x-12 gap-y-8 animate-fade-in"
      style="animation-delay: 0.2s;"
    >
      <Image
        src={hikvision}
        alt="Logo Marca A"
        class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0"
      />

      <Image
        src={ubiquiti}
        alt="Logo Marca B"
        class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0"
      />
      <Image
        src={nexxt}
        alt="Logo Marca C"
        class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0"
      />
      <Image
        src={zkt}
        alt="Logo Marca D"
        class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0"
      />
      <Image
        src={suprema}
        alt="Logo Marca E"
        class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0"
      />
      <Image
        src={control4}
        alt="Logo Marca E"
        class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0"
      />
      <Image
        src={softguard}
        alt="Logo Marca E"
        class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0"
      />
      <Image
        src={savant}
        alt="Logo Marca E"
        class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0"
      />
      <Image
        src={milestone}
        alt="Logo Marca E"
        class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0"
      />
      <Image
        src={march}
        alt="Logo Marca E"
        class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0"
      />
      <Image
        src={knx}
        alt="Logo Marca E"
        class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0"
      />
      <Image
        src={honeywell}
        alt="Logo Marca E"
        class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0"
      />
      <Image
        src={fortinet}
        alt="Logo Marca E"
        class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0"
      />
      <Image
        src={crestron}
        alt="Logo Marca E"
        class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0"
      />
      <Image
        src={dmp}
        alt="Logo Marca E"
        class="h-24 w-24 md:h-36 md:w-36 opacity-70 hover:opacity-100 transition-opacity duration-300 filter grayscale hover:grayscale-0"
      />
    </div>
  </div>
</section>
